
/* Variables */
$primary-color: #113529;
$secondary-color: #DCB253;
$accent-color: #007bff;
$background-color: #f8f8f8;
$navbar-color: #ffffff;
$text-color: #000000;
$alert: red;
$success: green;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

$font-family-main: 'Audiowide', serif;
$font-family-secondary: 'Average', serif;