{% for article in articles|slice(0, 3) %}
    {% include 'article/item.html.twig' with { article } %}
{% endfor %}

<div class="container">
    <div class="">
        {{ knp_pagination_render(articles) }}
    </div>
</div>