{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container">
        <div class="col-md-8">
                <h2 class="_profil">Profil de {{ user.username|capitalize }}</h2>
                <form>
                    <div class="col-md-8">
                        <label for="username" class="form-label">Nom d'utilisateur :</label>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                            </div>
                        </div>

                        <div class="mb-3">
                            <p>{{ user.comments|length }} commentaires liés à {{ user.username }}</p>
                        </div>

                    </div>
                </form>
        </div>
    </div>

{% endblock %}
