<div>
    <h3>Catégories</h3>
    <ol>
        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', {slug: category.slug }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ol>
</div>